/**
 * Site header
 */
.site-header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  //color: #942247;
  color: rgb(199, 110, 0);

  &,
  &:visited {
    //color: #942247;
    color: rgb(199, 110, 0);
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    .page-link {
      padding: 20px 0;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  padding: 10px 0;
  font-size: 15px;
  color: $grey-color;
  text-align: center;
}



/**
 * Page content
 */
.page-content {
  padding-top: 20px;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  .post-link:hover {
    text-decoration: none;
  }

  > li {
    margin-bottom: $spacing-unit * 2;

    &:not(:first-child) {
      border-top: 4px solid $grey-color-light;
      padding-top: $spacing-unit * 2;
    }
  }
}

.post-archives {
  margin-left: 0;
  list-style: none;

  .post-link {
    font-size: 24px;
  }

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $brand-color;
  }
}

.post-continue {
  a {
    padding: 8px 15px;
    text-decoration: none;

    &,
    &:visited {
      color: $grey-color;
      background-color: $grey-color-light;
    }

    &:hover {
      color: white;
      background-color: $brand-color;
    }
  }
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 24px;
  //margin-bottom: 0px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 32px;
  }
}

.post-subtitle {
  font-size: 22px;
  margin-bottom: 0px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 28px;
  }
}

.row {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.col {
	display: block;
	float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.c2 {
  width: 20%;
}

.c3 {
  width: 30%;
}

.c7 {
  width: 68.4%;
}

.c8 {
  width: 78.4%;
}

.post-content {
  /*margin-bottom: $spacing-unit;*/
  margin-top: 0;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
      margin-bottom: 0;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

@include media-query($on-laptop) {
  .col {
    margin: 2% 0 1% 0%;
  }
  //.col:first-child { margin-top: 0; }  

	.c2, .c3, .c7, .c8 {
    width: 100%;
  }

  .c3 {
    margin-top: 0;
  }

  .c2 {
    display: none; /* Temporary hack. */
  }
}

.date {
  padding-right: 10px;
  padding-top: 3.5px;
  margin-bottom: 0px;
  color: $grey-color;
  text-align: right;

  @include media-query($on-laptop) {
    padding-top: 2px;
    text-align: left;
  }
}

.profile {
  padding-top: 0;
}

.divide {
  margin-bottom: 30px;
}

.opener {
  margin-bottom: 25px;
}

.social {
  text-align: center;
  padding-bottom: 8px;
}

.social-button {
  height: 30px;
  padding: 0px 6px 0px 6px;
}